/* Header */
.header {
  margin: 40px 54px;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: space-between;
  /* border: 1px solid #DAFB59; */

}

.header__logo {
  /* height: 52px; */
}

.header__logo_white {
  /* height: 52px; */
}

.header__menu {
  position: relative;
  display: flex;
  font-family: Golos;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  color: #B6BCBF;
}

.header__menu-in {
  display: flex;
  margin-right: 16px;
  width: 117px;
  justify-content: center;
  align-items: center;
}

.header__user-white {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.header__menu-enter {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F6F6F1;
  margin-left: 8px;
  padding: 0;
}

.header__menu-registration {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1F1E30;
  background-color: #DAFB59;
  border-radius: 32px;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* СТАРОЕ */

.header__registration {
  width: 245px;
  /* height: 52px; */
  gap: 8px;
  border-radius: 32px;
  background: #DAFB59;
  text-align: center;
}

.nav__item-a_registration {
  font-family: Golos;
  font-size: 18px;
  font-weight: 600;
  color: #1F1E30;
  margin-left: 16px;
  width: 245px;
  /* height: 52px; */
  gap: 8px;
  border-radius: 32px;
  background: #DAFB59;
  text-align: center;
}

.header__enter {
  width: 117px;
  /* height: 52px; */
  gap: 8px;
  text-align: center;
}



.nav__item-a_enter {
  display: block;
  font-family: Golos;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F6F6F1;
  width: 117px;
  height: 52px;
  gap: 8px;
  text-align: center;
}


.nav__checkbox, .nav__checkbox-label {
  display: none;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__items {
  display: flex;
  flex-direction: row;
}

.nav__item-li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.nav__item-a {
  /* padding: 18px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-transform: uppercase; */
}

.nav__item-a:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  background-color: #4671D5;
}

.nav__item-li_sub {
  padding: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.nav__add-items {
  display: none;
}

.nav__item-li_sub:hover>.nav__add-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(113, 113, 211);
  z-index: 1;
  top: 100%;
  left: -20px;
}

/* @media only screen and (max-width: 760px) {
  .header {
    height: 40px;
  }

  .nav__checkbox-label {
    padding: 7px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    text-decoration: none;
    display: block;
    width: 80px;
    text-transform: uppercase;
  }

  .nav__items {
    display: none;
  }

  .nav__item-a {
    padding: 14px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    text-decoration: none;
    display: block;
    width: 80px;
  }

  .nav__checkbox:checked~.nav__items {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    z-index: 1;
  }

  .nav__item-li {
    display: contents;
    height: 100%;
  }

  .nav__item-li_sub {
    padding: 14px;
    font-size: 10px;
  }

} */