.introduction {
    display: flex;
    flex-flow: column wrap;
    height: 817px;
    width: 1492px;
    margin: 0px 54px 91px 54px;
    gap: 16px;
    flex: 1;
}

.introduction_there {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    width: 864px;
    height: 400px;
}

.introduction_two {
    flex-direction: column;
    width: 236px;
    height: 400px;
    margin: 0px;
}

.introduction__block {
    border-radius: 24px;
    width: 612px;
    height: 815px;
    background-color: #F6F6F1;
}

.iintroduction__block_registration {
    width: 236px;
    height: 261px;
    background-color: #FF6611;

    box-sizing: border-box;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction__block_tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 40px;
    box-sizing: border-box;
    position: relative;
}

.introduction__block_tags::after {
    content: "";
    display: block;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 220px;
    /* background: radial-gradient(circle, #DAFB59); */
    background: radial-gradient(#DAFB59, transparent);
    opacity: 0.1;
    z-index: 1;
}

.introduction__block_tags::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 290px;
    left: 350px;
    /* background: radial-gradient(circle, #DAFB59); */
    background: radial-gradient(#9000FF, transparent);
    opacity: 0.05;
    z-index: 1;
}


.introduction__paragraph {
    font-family: Golos;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #1F1E30;
}

.introduction__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    font-family: Golos;
    font-size: 20px;
    z-index: 2;
    /* line-height: 30px; */
    /* letter-spacing: 2em; */
}

.introduction__tag {
    /* width: 130px; */
    height: 40px;
    padding: 0px 10px 0px 10px;
    gap: 6px;
    border-radius: 40px;
    border: 1px black solid;
    /* opacity: 0px; */
    color: #1F1E30;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.introduction__green {
    width: 864px;
    height: 400px;
    background-color: #DAFB59;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 56px 0px 48px 58px;
}

.introduction__green-paragraph {
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 900;
    line-height: 63px;
    color: #1F1E30;

    position: relative;
}

.green-paragraph_2 {
    border: 2px solid #1F1E30;
    border-radius: 120px;

    display: inline-block;
    padding: 0px 19px 0 19px;
}

.introduction__start-link {
    font-family: Golos;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: #1F1E30
}



.introduction__image {
    width: 612px;
    height: 400px;
    background-image: url(../../src/img/start_girl.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction__arrow {
    width: 16px;
    height: 16px;
    align-self: flex-end;
}


.introduction__registration-link {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: #1F1E30;
}


.introduction__feedback {
    width: 236px;
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #939393;
    padding: 24px;
}

.introduction__envelope {
    width: 16px;
    height: 16px;
    align-self: flex-end;
}


.introduction__feedback-link {
    font-family: Golos;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: #939393;
}





/* СТАРОЕ */
.title-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* margin: 40px 0 0; */
}

.title-section__title {
    font-size: 48px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-section__description {
    margin: 0 0 10px;
    font-size: 18px;
    color: #999999;
    margin-top: 25px;
    line-height: 2;
    font-weight: 600;
}

.instrustion-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.instrustion-section__title {
    font-size: 36px;
    color: #1a1a1a;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}

.instrustion-section__items {
    display: flex;
    flex-direction: row;
    flex-basis: 250px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    margin-top: 10px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .2);
    height: 150px;
}

.item__title {
    font-size: 24px;
    color: #1a1a1a;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.item__paragraph {
    font-size: 18px;
    color: #999999;
    margin-bottom: 70px;
    margin: 0 0 10px;
    text-align: center;
}

@media screen and (max-width:760px) {

    .main-page {
        padding: 0 10px;
    }

    .title-section {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .title-section__title {
        font-size: 24px;
        font-weight: 250;
        /* margin-top: 20px;
        margin-bottom: 5px; */
    }

    .instrustion-section__title {
        font-size: 18px;
        color: #1a1a1a;
        font-weight: 300;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    .instrustion-section__items {
        display: flex;
        flex-direction: row;
        flex-basis: 150px;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 0 10px;
    }

    .item {
        width: 150px;
        margin-top: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
        height: 75px;
    }

    .item__title {
        font-size: 12px;
        color: #1a1a1a;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 250;
        display: block;
        text-align: center;
    }

    .item__paragraph {
        font-size: 9px;
        color: #999999;
        margin-bottom: 30px;
        margin: 0 0 5px;
        text-align: center;
    }
}