#toast-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000000;
    /* height: 0px;
    overflow: hidden;
    display: block; */
}

.toast {
    /* height: 0px;
    overflow: hidden;
    display: block; */
    all: initial;
}
/* 
.message {
    display: block;
    text-align: center;
    width: 350px;
    height: min-content;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ebe2e3;
    border: 1px solid #DA0B20;
    box-shadow: 0px 4px 8px rgba(138, 150, 168, 0.4), 0px -2px 4px rgba(138, 150, 168, 0.08);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media screen and (max-width:760px) {

    .message {
        width: 100%;
    }
} */

.app-toast-list {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 10px 0 10px; */
    /* width: 100%; */
    /* overflow: hidden; */
}

.app-toast {
    width: max-content;
    height: 56px;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 16px; */
}

.app-toast.--th-green {
    border: 1px solid #4ABE63;
    background-color: #DBF2E1;
}

.app-toast.--th-red {
    border: 1px solid #EA1D50;
    background-color: #E84245;
    ;
}

.app-toast__title {
    font-family: Golos;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.app-toast__close {
    /* position: absolute; */
    top: 2.4rem;
    left: auto;
    right: 2.4rem;
    z-index: 10;
    border: none;
    color: red;
    background-color: transparent;
    outline: none;
    padding: 0;
    height: max-content;
    width: max-content;
}

@media screen and (max-width:480px) {

    .app-toast-list {
        width: 400px;
    }
} 