.tasks-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tasks-empty__img {
  width: 12rem;
  height: 12rem;
  display: block;
  margin: 0 auto;
}
.tasks-empty__title {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
}
.tasks-empty__action {
  height: 5.2rem;
  gap: 1.3rem;
  margin-top: 3.2rem;
  width: 21.7rem;
}
.tasks-empty__action .icon {
  width: 1.4rem;
  height: 1.4rem;
}