.app-cards__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.4rem;
}
@media screen and (max-width: 1024px) {
  .app-cards__inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .app-cards__inner {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  .app-cards__inner {
    grid-gap: 1.6rem;
  }
}

.card-add {
  border: 1px solid #CDCDCD;
  color: #CDCDCD;
  background-color: transparent;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.1s linear;
  min-height: 20rem;
  width: 100%;
  height: 100%;
}
.card-add.--th-tasks {
  min-height: 14rem;
}
@media screen and (max-width: 768px) {
  .card-add {
    min-height: 8rem;
  }
}
@media screen and (max-width: 550px) {
  .card-add {
    min-height: 6.4rem;
  }
}
.card-add:hover {
  border-color: #1F1E30;
  color: #1F1E30;
}
.card-add__text {
  font-size: 1.8rem;
  line-height: 150%;
}
.card-add__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.card {
  box-shadow: 6px 4px 16px 0px rgba(31, 30, 48, 0.03);
  background-color: white;
  padding: 2.4rem;
  border-radius: 1.2rem;
  border: none;
  height: 100%;
}

.card-note.--th-no-text .card-note__content {
  grid-template-rows: 4.4rem;
}
.card-note__actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.card-note__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-note__content {
  margin-top: 2.9rem;
  display: grid;
  grid-template-rows: 4.4rem 5.6rem;
  grid-gap: 1.3rem;
  grid-template-columns: 1fr;
  align-items: end;
}
@media screen and (max-width: 550px) {
  .card-note__content {
    margin-top: 1.5rem;
  }
}
.card-note__title {
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-note__text {
  font-size: 1.6rem;
  line-height: 130%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-note__date {
  color: #939393;
  font-size: 1.6rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}
.card-note__date img {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}
.card-note__btn {
  width: 2.4rem;
  height: 2.4rem;
  color: #CDCDCD;
  background-color: transparent;
  border: none;
  padding: 0;
}
.card-note__btn * {
  display: block;
  width: 100%;
  height: 100%;
}
.card-note__btn:hover {
  color: #1F1E30;
}

.more-btn {
  position: relative;
}
.more-btn.--th-active .more-btn__menu {
  opacity: 1;
  visibility: visible;
}
.more-btn.--th-active .more-btn__btn {
  color: #1F1E30 !important;
}
.more-btn.--th-active .more-btn__btn .icon {
  width: 2.4rem;
  height: 2.4rem;
}
.more-btn__btn {
  width: 1.2rem;
  height: 1.6rem;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.more-btn__menu {
  position: absolute;
  z-index: 11;
  top: auto;
  bottom: -1.4rem;
  transform: translateY(100%);
  left: auto;
  right: -2rem;
  box-shadow: 2px 4px 2rem 0.6rem rgba(74, 74, 66, 0.06);
  background-color: #fff;
  border-radius: 0.8rem;
  min-width: 21.4rem;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.more-btn__item:not(:last-child) {
  border-bottom: 1px solid #E7E7E7;
}
.more-btn__item-btn {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  padding-left: 2.9rem;
  font-size: 1.8rem;
  line-height: 150%;
  height: 5.5rem;
}
.more-btn__item-btn .icon {
  width: 2.4rem;
  height: 2.4rem;
}