@import url('./style/card.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.words-section {
  padding: 20px;
}

nav {
  background: cornflowerblue;
}

@media only screen and (max-width: 320px) {
  ul {
    display: none;
  }
  .checkbox {
    position: relative !important;
    opacity: 1 !important;
    pointer-events: all !important;
  }

  .checkbox:checked ~ .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 120px;
    background: cornflowerblue;
    z-index: 1;
  }
}
 